.App {
  display: flex;
  font-family: "Graphik Web Semibold", sans-serif;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.app-hero {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 3rem;
}

@media only screen and (max-width: 968px) { 
  .App {
    flex-direction: column;
  }
}