@import url(//db.onlinewebfonts.com/c/02fb003368979ba04752e4f3b4c4cebd?family=Graphik+Web+Semibold);

@font-face {
  font-family: "Graphik Web Semibold";
  src: url("//db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.eot");
  src: url("//db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.woff") format("woff"), url("//db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.svg#Graphik Web Semibold") format("svg");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}